In [586]:
import pandas as pd

train_df = pd.read_csv("F:\Programming\DataScience\SimpliLearn\Mod3_MachineLearning\project2\\train.csv")
test_df = pd.read_csv("F:\Programming\DataScience\SimpliLearn\Mod3_MachineLearning\project2\\test.csv")

In [587]:
train_df

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8405,107.39,ak,s,as,c,d,aa,d,q,...,1,0,0,0,0,0,0,0,0,0
4205,8406,108.77,j,o,t,d,d,aa,h,h,...,0,1,0,0,0,0,0,0,0,0
4206,8412,109.22,ak,v,r,a,d,aa,g,e,...,0,0,1,0,0,0,0,0,0,0
4207,8415,87.48,al,r,e,f,d,aa,l,u,...,0,0,0,0,0,0,0,0,0,0
4208,8417,110.85,z,r,ae,c,d,aa,g,w,...,1,0,0,0,0,0,0,0,0,0

In [588]:
test_df

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,az,v,n,f,d,t,a,w,0,...,0,0,0,1,0,0,0,0,0,0
1,2,t,b,ai,a,d,b,g,y,0,...,0,0,1,0,0,0,0,0,0,0
2,3,az,v,as,f,d,a,j,j,0,...,0,0,0,1,0,0,0,0,0,0
3,4,az,l,n,f,d,z,l,n,0,...,0,0,0,1,0,0,0,0,0,0
4,5,w,s,as,c,d,y,i,m,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8410,aj,h,as,f,d,aa,j,e,0,...,0,0,0,0,0,0,0,0,0,0
4205,8411,t,aa,ai,d,d,aa,j,y,0,...,0,1,0,0,0,0,0,0,0,0
4206,8413,y,v,as,f,d,aa,d,w,0,...,0,0,0,0,0,0,0,0,0,0
4207,8414,ak,v,as,a,d,aa,c,q,0,...,0,0,1,0,0,0,0,0,0,0
4208,8416,t,aa,ai,c,d,aa,g,r,0,...,1,0,0,0,0,0,0,0,0,0

In [589]:
print("train_df info:")
train_df.info()

print("\n")

print("test_df info:")
test_df.info()

train_df info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 378 entries, ID to X385
dtypes: float64(1), int64(369), object(8)
memory usage: 12.1+ MB


test_df info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 377 entries, ID to X385
dtypes: int64(369), object(8)
memory usage: 12.1+ MB

<p>It seems train_df column has one column more than test_df. Let's found out which columns are matching in both the data frames.</p>

In [590]:
matching_col_arr = []

for train_col in train_df:
  for test_col in test_df:
    if test_col == train_col:
      print("{} is same as {}".format(test_col, train_col))
      matching_col_arr.append(test_col)

print("No. of matching columns = {}".format(len(matching_col_arr)))

ID is same as ID
X0 is same as X0
X1 is same as X1
X2 is same as X2
X3 is same as X3
X4 is same as X4
X5 is same as X5
X6 is same as X6
X8 is same as X8
X10 is same as X10
X11 is same as X11
X12 is same as X12
X13 is same as X13
X14 is same as X14
X15 is same as X15
X16 is same as X16
X17 is same as X17
X18 is same as X18
X19 is same as X19
X20 is same as X20
X21 is same as X21
X22 is same as X22
X23 is same as X23
X24 is same as X24
X26 is same as X26
X27 is same as X27
X28 is same as X28
X29 is same as X29
X30 is same as X30
X31 is same as X31
X32 is same as X32
X33 is same as X33
X34 is same as X34
X35 is same as X35
X36 is same as X36
X37 is same as X37
X38 is same as X38
X39 is same as X39
X40 is same as X40
X41 is same as X41
X42 is same as X42
X43 is same as X43
X44 is same as X44
X45 is same as X45
X46 is same as X46
X47 is same as X47
X48 is same as X48
X49 is same as X49
X50 is same as X50
X51 is same as X51
X52 is same as X52
X53 is same as X53
X54 is same as X54
X55 is same as X55
X56 is same as X56
X57 is same as X57
X58 is same as X58
X59 is same as X59
X60 is same as X60
X61 is same as X61
X62 is same as X62
X63 is same as X63
X64 is same as X64
X65 is same as X65
X66 is same as X66
X67 is same as X67
X68 is same as X68
X69 is same as X69
X70 is same as X70
X71 is same as X71
X73 is same as X73
X74 is same as X74
X75 is same as X75
X76 is same as X76
X77 is same as X77
X78 is same as X78
X79 is same as X79
X80 is same as X80
X81 is same as X81
X82 is same as X82
X83 is same as X83
X84 is same as X84
X85 is same as X85
X86 is same as X86
X87 is same as X87
X88 is same as X88
X89 is same as X89
X90 is same as X90
X91 is same as X91
X92 is same as X92
X93 is same as X93
X94 is same as X94
X95 is same as X95
X96 is same as X96
X97 is same as X97
X98 is same as X98
X99 is same as X99
X100 is same as X100
X101 is same as X101
X102 is same as X102
X103 is same as X103
X104 is same as X104
X105 is same as X105
X106 is same as X106
X107 is same as X107
X108 is same as X108
X109 is same as X109
X110 is same as X110
X111 is same as X111
X112 is same as X112
X113 is same as X113
X114 is same as X114
X115 is same as X115
X116 is same as X116
X117 is same as X117
X118 is same as X118
X119 is same as X119
X120 is same as X120
X122 is same as X122
X123 is same as X123
X124 is same as X124
X125 is same as X125
X126 is same as X126
X127 is same as X127
X128 is same as X128
X129 is same as X129
X130 is same as X130
X131 is same as X131
X132 is same as X132
X133 is same as X133
X134 is same as X134
X135 is same as X135
X136 is same as X136
X137 is same as X137
X138 is same as X138
X139 is same as X139
X140 is same as X140
X141 is same as X141
X142 is same as X142
X143 is same as X143
X144 is same as X144
X145 is same as X145
X146 is same as X146
X147 is same as X147
X148 is same as X148
X150 is same as X150
X151 is same as X151
X152 is same as X152
X153 is same as X153
X154 is same as X154
X155 is same as X155
X156 is same as X156
X157 is same as X157
X158 is same as X158
X159 is same as X159
X160 is same as X160
X161 is same as X161
X162 is same as X162
X163 is same as X163
X164 is same as X164
X165 is same as X165
X166 is same as X166
X167 is same as X167
X168 is same as X168
X169 is same as X169
X170 is same as X170
X171 is same as X171
X172 is same as X172
X173 is same as X173
X174 is same as X174
X175 is same as X175
X176 is same as X176
X177 is same as X177
X178 is same as X178
X179 is same as X179
X180 is same as X180
X181 is same as X181
X182 is same as X182
X183 is same as X183
X184 is same as X184
X185 is same as X185
X186 is same as X186
X187 is same as X187
X189 is same as X189
X190 is same as X190
X191 is same as X191
X192 is same as X192
X194 is same as X194
X195 is same as X195
X196 is same as X196
X197 is same as X197
X198 is same as X198
X199 is same as X199
X200 is same as X200
X201 is same as X201
X202 is same as X202
X203 is same as X203
X204 is same as X204
X205 is same as X205
X206 is same as X206
X207 is same as X207
X208 is same as X208
X209 is same as X209
X210 is same as X210
X211 is same as X211
X212 is same as X212
X213 is same as X213
X214 is same as X214
X215 is same as X215
X216 is same as X216
X217 is same as X217
X218 is same as X218
X219 is same as X219
X220 is same as X220
X221 is same as X221
X222 is same as X222
X223 is same as X223
X224 is same as X224
X225 is same as X225
X226 is same as X226
X227 is same as X227
X228 is same as X228
X229 is same as X229
X230 is same as X230
X231 is same as X231
X232 is same as X232
X233 is same as X233
X234 is same as X234
X235 is same as X235
X236 is same as X236
X237 is same as X237
X238 is same as X238
X239 is same as X239
X240 is same as X240
X241 is same as X241
X242 is same as X242
X243 is same as X243
X244 is same as X244
X245 is same as X245
X246 is same as X246
X247 is same as X247
X248 is same as X248
X249 is same as X249
X250 is same as X250
X251 is same as X251
X252 is same as X252
X253 is same as X253
X254 is same as X254
X255 is same as X255
X256 is same as X256
X257 is same as X257
X258 is same as X258
X259 is same as X259
X260 is same as X260
X261 is same as X261
X262 is same as X262
X263 is same as X263
X264 is same as X264
X265 is same as X265
X266 is same as X266
X267 is same as X267
X268 is same as X268
X269 is same as X269
X270 is same as X270
X271 is same as X271
X272 is same as X272
X273 is same as X273
X274 is same as X274
X275 is same as X275
X276 is same as X276
X277 is same as X277
X278 is same as X278
X279 is same as X279
X280 is same as X280
X281 is same as X281
X282 is same as X282
X283 is same as X283
X284 is same as X284
X285 is same as X285
X286 is same as X286
X287 is same as X287
X288 is same as X288
X289 is same as X289
X290 is same as X290
X291 is same as X291
X292 is same as X292
X293 is same as X293
X294 is same as X294
X295 is same as X295
X296 is same as X296
X297 is same as X297
X298 is same as X298
X299 is same as X299
X300 is same as X300
X301 is same as X301
X302 is same as X302
X304 is same as X304
X305 is same as X305
X306 is same as X306
X307 is same as X307
X308 is same as X308
X309 is same as X309
X310 is same as X310
X311 is same as X311
X312 is same as X312
X313 is same as X313
X314 is same as X314
X315 is same as X315
X316 is same as X316
X317 is same as X317
X318 is same as X318
X319 is same as X319
X320 is same as X320
X321 is same as X321
X322 is same as X322
X323 is same as X323
X324 is same as X324
X325 is same as X325
X326 is same as X326
X327 is same as X327
X328 is same as X328
X329 is same as X329
X330 is same as X330
X331 is same as X331
X332 is same as X332
X333 is same as X333
X334 is same as X334
X335 is same as X335
X336 is same as X336
X337 is same as X337
X338 is same as X338
X339 is same as X339
X340 is same as X340
X341 is same as X341
X342 is same as X342
X343 is same as X343
X344 is same as X344
X345 is same as X345
X346 is same as X346
X347 is same as X347
X348 is same as X348
X349 is same as X349
X350 is same as X350
X351 is same as X351
X352 is same as X352
X353 is same as X353
X354 is same as X354
X355 is same as X355
X356 is same as X356
X357 is same as X357
X358 is same as X358
X359 is same as X359
X360 is same as X360
X361 is same as X361
X362 is same as X362
X363 is same as X363
X364 is same as X364
X365 is same as X365
X366 is same as X366
X367 is same as X367
X368 is same as X368
X369 is same as X369
X370 is same as X370
X371 is same as X371
X372 is same as X372
X373 is same as X373
X374 is same as X374
X375 is same as X375
X376 is same as X376
X377 is same as X377
X378 is same as X378
X379 is same as X379
X380 is same as X380
X382 is same as X382
X383 is same as X383
X384 is same as X384
X385 is same as X385
No. of matching columns = 377

<p>We find that all the columns in test_df is present in train_df except 'y' column. So, now we would remove 'y' column from train_df.</p>

In [591]:
train_df2 = train_df.drop('y', axis=1)

train_df2

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,k,v,at,a,d,u,j,o,0,...,0,0,1,0,0,0,0,0,0,0
1,6,k,t,av,e,d,y,l,o,0,...,1,0,0,0,0,0,0,0,0,0
2,7,az,w,n,c,d,x,j,x,0,...,0,0,0,0,0,0,1,0,0,0
3,9,az,t,n,f,d,x,l,e,0,...,0,0,0,0,0,0,0,0,0,0
4,13,az,v,n,f,d,h,d,n,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8405,ak,s,as,c,d,aa,d,q,0,...,1,0,0,0,0,0,0,0,0,0
4205,8406,j,o,t,d,d,aa,h,h,0,...,0,1,0,0,0,0,0,0,0,0
4206,8412,ak,v,r,a,d,aa,g,e,0,...,0,0,1,0,0,0,0,0,0,0
4207,8415,al,r,e,f,d,aa,l,u,0,...,0,0,0,0,0,0,0,0,0,0
4208,8417,z,r,ae,c,d,aa,g,w,0,...,1,0,0,0,0,0,0,0,0,0

In [592]:
# Joining test and train dataset for cleaning

joined_df = pd.concat([train_df2, test_df])

joined_df

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,k,v,at,a,d,u,j,o,0,...,0,0,1,0,0,0,0,0,0,0
1,6,k,t,av,e,d,y,l,o,0,...,1,0,0,0,0,0,0,0,0,0
2,7,az,w,n,c,d,x,j,x,0,...,0,0,0,0,0,0,1,0,0,0
3,9,az,t,n,f,d,x,l,e,0,...,0,0,0,0,0,0,0,0,0,0
4,13,az,v,n,f,d,h,d,n,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8410,aj,h,as,f,d,aa,j,e,0,...,0,0,0,0,0,0,0,0,0,0
4205,8411,t,aa,ai,d,d,aa,j,y,0,...,0,1,0,0,0,0,0,0,0,0
4206,8413,y,v,as,f,d,aa,d,w,0,...,0,0,0,0,0,0,0,0,0,0
4207,8414,ak,v,as,a,d,aa,c,q,0,...,0,0,1,0,0,0,0,0,0,0
4208,8416,t,aa,ai,c,d,aa,g,r,0,...,1,0,0,0,0,0,0,0,0,0

In [593]:
# Let's check if their is null or unique values in our dataframe

def null_columns(df):
  null_cols = []

  for col in df:
    if df[col].isnull().sum() != 0:
      null_cols.append(col)

  print("There are {} columns having null values: {}".format(len(null_cols), null_cols))

null_columns(joined_df)

There are 0 columns having null values: []

In [594]:
# Let's check if there are any unique/inconsistent value in our dataframe

print(joined_df.dtypes)

print("The dataframe has {} unique dtype: {}".format(joined_df.dtypes.nunique(), joined_df.dtypes.unique()))

ID       int64
X0      object
X1      object
X2      object
X3      object
         ...
X380     int64
X382     int64
X383     int64
X384     int64
X385     int64
Length: 377, dtype: object
The dataframe has 2 unique dtype: [dtype('int64') dtype('O')]

In [595]:
object_dtype_df= joined_df.select_dtypes('object')

object_dtype_df

      X0  X1  X2 X3 X4  X5 X6 X8
0      k   v  at  a  d   u  j  o
1      k   t  av  e  d   y  l  o
2     az   w   n  c  d   x  j  x
3     az   t   n  f  d   x  l  e
4     az   v   n  f  d   h  d  n
...   ..  ..  .. .. ..  .. .. ..
4204  aj   h  as  f  d  aa  j  e
4205   t  aa  ai  d  d  aa  j  y
4206   y   v  as  f  d  aa  d  w
4207  ak   v  as  a  d  aa  c  q
4208   t  aa  ai  c  d  aa  g  r

[8418 rows x 8 columns]

In [596]:
for col in object_dtype_df:
  print(object_dtype_df[col].unique())

['k' 'az' 't' 'al' 'o' 'w' 'j' 'h' 's' 'n' 'ay' 'f' 'x' 'y' 'aj' 'ak' 'am'
 'z' 'q' 'at' 'ap' 'v' 'af' 'a' 'e' 'ai' 'd' 'aq' 'c' 'aa' 'ba' 'as' 'i'
 'r' 'b' 'ax' 'bc' 'u' 'ad' 'au' 'm' 'l' 'aw' 'ao' 'ac' 'g' 'ab' 'av' 'ag'
 'an' 'ae' 'p' 'bb']
['v' 't' 'w' 'b' 'r' 'l' 's' 'aa' 'c' 'a' 'e' 'h' 'z' 'j' 'o' 'u' 'p' 'n'
 'i' 'y' 'd' 'f' 'm' 'k' 'g' 'q' 'ab']
['at' 'av' 'n' 'e' 'as' 'aq' 'r' 'ai' 'ak' 'm' 'a' 'k' 'ae' 's' 'f' 'd'
 'ag' 'ay' 'ac' 'ap' 'g' 'i' 'aw' 'y' 'b' 'ao' 'al' 'h' 'x' 'au' 't' 'an'
 'z' 'ah' 'p' 'am' 'j' 'q' 'af' 'l' 'aa' 'c' 'o' 'ar' 'aj' 'ax' 'ab' 'w'
 'ad' 'u']
['a' 'e' 'c' 'f' 'd' 'b' 'g']
['d' 'b' 'c' 'a']
['u' 'y' 'x' 'h' 'g' 'f' 'j' 'i' 'd' 'c' 'af' 'ag' 'ab' 'ac' 'ad' 'ae'
 'ah' 'l' 'k' 'n' 'm' 'p' 'q' 's' 'r' 'v' 'w' 'o' 'aa' 't' 'b' 'a' 'z']
['j' 'l' 'd' 'h' 'i' 'a' 'g' 'c' 'k' 'e' 'f' 'b']
['o' 'x' 'e' 'n' 's' 'a' 'h' 'p' 'm' 'k' 'd' 'i' 'v' 'j' 'b' 'q' 'w' 'g'
 'y' 'l' 'f' 'u' 'r' 't' 'c']

In [597]:
# There's nothing wrong with dataframe as far as unique/inconsistent data is concerned.

In [598]:
# Let's again resplit the into training and testing datasets.

train_df1 = joined_df.merge(train_df, on='ID', how='inner')
test_df1 = joined_df.merge(test_df, on='ID', how='inner')

In [599]:
#  Let's start our data preparation procedure on our training dataset

In [600]:
# Finding columns with suffix '_y'
y_cols = [col for col in train_df1.columns if '_y' in col]

train_df1  = train_df1.drop(y_cols, axis=1)
test_df1 = test_df1.drop(y_cols, axis=1)

In [601]:
# Let's separate the object columns from both the datasets

train_obj_df = train_df1.select_dtypes('object')
test_obj_df = test_df1.select_dtypes('object')

In [602]:
# Now we have our training data

# Let's use label encoding for our object columns in our training dataset
# In case we find an new variable in test dataset while transforming, then we will encode it as 'unknown'

from sklearn.preprocessing import LabelEncoder
import numpy as np

lab_encoder = LabelEncoder()
x0 = lab_encoder.fit(train_obj_df['X0_x'])
test_obj_df['X0_x'] = test_obj_df['X0_x'].map(lambda s: '<unknown>' if s not in x0.classes_ else s)
x0.classes_ = np.append(x0.classes_, '<unknown>')
encoded_train_x0 = x0.transform(train_obj_df['X0_x'])
encoded_test_x0 = x0.transform(test_obj_df['X0_x'])

x1 = lab_encoder.fit(train_obj_df['X1_x'])
test_obj_df['X1_x'] = test_obj_df['X1_x'].map(lambda s: 'unknown' if s not in x1.classes_ else s)
x1.classes_ = np.append(x1.classes_, '<unknown>')
encoded_train_x1 = x1.transform(train_obj_df['X1_x'])
encoded_test_x1 = x1.transform(test_obj_df['X1_x'])

x2 = lab_encoder.fit(train_obj_df['X2_x'])
test_obj_df['X2_x'] = test_obj_df['X2_x'].map(lambda s: '<unknown>' if s not in x2.classes_ else s)
x2.classes_ = np.append(x2.classes_, '<unknown>')
encoded_train_x2 = x2.transform(train_obj_df['X2_x'])
encoded_test_x2 = x2.transform(test_obj_df['X2_x'])

x3 = lab_encoder.fit(train_obj_df['X3_x'])
test_obj_df['X3_x'] = test_obj_df['X3_x'].map(lambda s: '<unknown>' if s not in x3.classes_ else s)
x3.classes_ = np.append(x3.classes_, '<unknown>')
encoded_train_x3 = x3.transform(train_obj_df['X3_x'])
encoded_test_x3 = x3.transform(test_obj_df['X3_x'])

x4 = lab_encoder.fit(train_obj_df['X4_x'])
test_obj_df['X4_x'] = test_obj_df['X4_x'].map(lambda s: '<unknown>' if s not in x4.classes_ else s)
x4.classes_ = np.append(x4.classes_, '<unknown>')
encoded_train_x4 = x4.transform(train_obj_df['X4_x'])
encoded_test_x4 = x4.transform(test_obj_df['X4_x'])

x5 = lab_encoder.fit(train_obj_df['X5_x'])
test_obj_df['X5_x'] = test_obj_df['X5_x'].map(lambda s: '<unknown>' if s not in x5.classes_ else s)
x5.classes_ = np.append(x5.classes_, '<unknown>')
encoded_train_x5 = x5.transform(train_obj_df['X5_x'])
encoded_test_x5 = x5.transform(test_obj_df['X5_x'])

x6 = lab_encoder.fit(train_obj_df['X6_x'])
test_obj_df['X6_x'] = test_obj_df['X6_x'].map(lambda s: '<unknown>' if s not in x6.classes_ else s)
x6.classes_ = np.append(x6.classes_, '<unknown>')
encoded_train_x6 = x6.transform(train_obj_df['X6_x'])
encoded_test_x6 = x6.transform(test_obj_df['X6_x'])

x8 = lab_encoder.fit(train_obj_df['X8_x'])
test_obj_df['X8_x'] = test_obj_df['X8_x'].map(lambda s: '<unknown>' if s not in x8.classes_ else s)
x8.classes_ = np.append(x8.classes_, '<unknown>')
encoded_train_x8 = x8.transform(train_obj_df['X8_x'])
encoded_test_x8 = x8.transform(test_obj_df['X8_x'])

<ipython-input-602-c71386741824>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_obj_df['X0_x'] = test_obj_df['X0_x'].map(lambda s: '<unknown>' if s not in x0.classes_ else s)
<ipython-input-602-c71386741824>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_obj_df['X1_x'] = test_obj_df['X1_x'].map(lambda s: 'unknown' if s not in x1.classes_ else s)
<ipython-input-602-c71386741824>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_obj_df['X2_x'] = test_obj_df['X2_x'].map(lambda s: '<unknown>' if s not in x2.classes_ else s)
<ipython-input-602-c71386741824>:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_obj_df['X3_x'] = test_obj_df['X3_x'].map(lambda s: '<unknown>' if s not in x3.classes_ else s)
<ipython-input-602-c71386741824>:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_obj_df['X4_x'] = test_obj_df['X4_x'].map(lambda s: '<unknown>' if s not in x4.classes_ else s)
<ipython-input-602-c71386741824>:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_obj_df['X5_x'] = test_obj_df['X5_x'].map(lambda s: '<unknown>' if s not in x5.classes_ else s)
<ipython-input-602-c71386741824>:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_obj_df['X6_x'] = test_obj_df['X6_x'].map(lambda s: '<unknown>' if s not in x6.classes_ else s)
<ipython-input-602-c71386741824>:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_obj_df['X8_x'] = test_obj_df['X8_x'].map(lambda s: '<unknown>' if s not in x8.classes_ else s)

In [603]:
encoded_train_values = np.array([encoded_train_x0, encoded_train_x1, 
              encoded_train_x2, encoded_train_x3, 
              encoded_train_x4, encoded_train_x5,
              encoded_train_x6, encoded_train_x8])

encoded_test_values = np.array([encoded_test_x0, encoded_test_x1, 
              encoded_test_x2, encoded_test_x3, 
              encoded_test_x4, encoded_test_x5,
              encoded_test_x6, encoded_test_x8])

encoded_train_values = encoded_train_values.T
encoded_test_values = encoded_test_values.T

In [604]:
encoded_train_df = pd.DataFrame(data=encoded_train_values, columns=train_obj_df.columns)
encoded_test_df = pd.DataFrame(data=encoded_test_values, columns=test_obj_df.columns)

In [605]:
train_num_df = train_df1.select_dtypes(exclude='object')
test_num_df = test_df1.select_dtypes(exclude='object')
train_num_df

,ID,X10_x,X11_x,X12_x,X13_x,X14_x,X15_x,X16_x,X17_x,X18_x,...,X376_x,X377_x,X378_x,X379_x,X380_x,X382_x,X383_x,X384_x,X385_x,y
0,0,0,0,0,1,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,130.81
1,6,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,88.53
2,7,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,76.26
3,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,80.62
4,13,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,78.02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8405,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,107.39
4205,8406,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,108.77
4206,8412,0,0,1,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,109.22
4207,8415,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,87.48
4208,8417,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,110.85

In [606]:
# Merging encoded data with train data

final_train_df = pd.merge(encoded_train_df, train_num_df, left_index=True, right_index=True)
final_test_df = pd.merge(encoded_test_df, test_num_df, left_index=True, right_index=True)

In [607]:
# Let's standardize the training and test data 
from sklearn.preprocessing import StandardScaler

pca_df = final_train_df.drop(['ID', 'y'], axis=1)
pca_test_df = final_test_df.drop('ID', axis=1)

scaler = StandardScaler()
pca_df_scaler = scaler.fit(pca_df)
pca_df = pca_df_scaler.transform(pca_df)
pca_test_df = pca.transform(pca_test_df)

In [608]:
# Let's start factor analysis of our training set. For this we will use PCA.
from sklearn.decomposition import PCA

pca = PCA(n_components=0.95)
pca.fit(pca_df)

pca_df = pca.transform(pca_df)

In [609]:
# Let's use XG boost for modelling
import xgboost as xgb

xg_reg = xgb.XGBRegressor()
model = xg_reg.fit(pca_df, final_train_df['y'])

In [610]:
pred = model.predict(pca_test_df)
pred

array([100.03501 ,  92.41032 , 104.091064, ...,  86.7697  ,  97.55141 ,
        95.402626], dtype=float32)

In [613]:
# creating result data series
results = pd.Series(index=final_test_df['ID'], data=pred, name='predictions')
results

ID
1       100.035011
2        92.410316
3       104.091064
4        98.555183
5       110.245644
           ...
8410     94.552216
8411    102.173813
8413     86.769699
8414     97.551407
8416     95.402626
Name: predictions, Length: 4209, dtype: float32